@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: black;
  position: relative;
  font-family: 'Inter';
}

/* Grid Lines  */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image:
    linear-gradient(to right, rgba(200,200,255,0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(200,200,255,0.25) 1px, transparent 1px);

  background-size: 40px 40px;
  opacity: 70%;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat';
}


